[submodule "FFXIV_MemoryReader"]
	path = source/FFXIV_MemoryReader
	url = https://github.com/TamanegiMage/FFXIV_MemoryReader.git
[submodule "ACT_EnmityPlugin"]
	path = ACT_EnmityPlugin
	url = https://github.com/TamanegiMage/ACT_EnmityPlugin.git
