<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
  autoReload="true"
  throwExceptions="false"
  internalLogLevel="Off">

  <targets>
    <default-wrapper
      xsi:type="BufferingWrapper"
      bufferSize="3000"
      flushTimeout="5000"
      slidingTimeout="true" />

    <target
      name="HojoringLog"
      xsi:type="File"
      layout="${longdate} [${uppercase:${level:padding=-5}}] ${callsite}() ${message} ${exception:format=tostring}"
      fileName="${specialfolder:folder=ApplicationData}/anoyetta/ACT/logs/ACT.Hojoring.${shortdate}.log"
      encoding="UTF-8" />

    <target
      name="HojoringLogBuffer"
      xsi:type="MethodCall"
      className="FFXIV.Framework.Common.AppLog, FFXIV.Framework"
      methodName="AppendLog">
      <parameter layout="${longdate}" />
      <parameter layout="${level}" />
      <parameter layout="${callsite}" />
      <parameter layout="${message} ${exception:format=tostring}" />
    </target>

    <target
      name="ChatLog"
      xsi:type="File"
      layout="[${longdate}] [${uppercase:${level:padding=-5}}] ${message}"
      fileName="${specialfolder:folder=ApplicationData}/anoyetta/ACT/logs/ChatLog.${shortdate}.log"
      encoding="UTF-8" />

    <target
      name="FFXIVReaderLog"
      xsi:type="File"
      layout="${longdate} [${threadid:padding=4}] [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring}"
      fileName="${specialfolder:folder=ApplicationData}/TamanegiMage/FFXIV_MemoryReader-${shortdate}.log"
      encoding="UTF-8"
      archiveAboveSize="5000000"
      maxArchiveFiles="5" />
  </targets>

  <rules>
    <logger name="HojoringLogger" minlevel="Trace" writeTo="HojoringLog,HojoringLogBuffer" />
    <logger name="ChatLogger"  levels="Trace,Info" writeTo="ChatLog" />
    <logger name="Logger"  minlevel="Trace" writeTo="FFXIVReaderLog" />
  </rules>
</nlog>
