name: Build ACT.Hojoring

on:
  push:
    branches: [ "master", "feature/*", "topic/*" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    env:
      Solution_Path: source/ACT.Hojoring.sln
      Test_Project_Path: source/ACT.Hojoring.Tests/ACT.Hojoring.Tests.csproj

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: Checkout Secrets
      uses: actions/checkout@v4
      with:
        repository: wbonbon/ACT.Hojoring.Secrets
        token: ${{ secrets.HOJORING_SECRETS_PAT }}
        path: dep-secrets

    - name: Copy Dependencies
      run: |
        Copy-Item -Recurse -Force dep-secrets/ThirdParty/* source/ThirdParty
        Copy-Item -Recurse -Force dep-secrets/costura-win-x64 source/ACT.TTSYukkuri/ACT.TTSYukkuri/
        Copy-Item -Recurse -Force dep-secrets/costura-win-x86 source/ACT.TTSYukkuri/ACT.TTSYukkuri/
        Copy-Item -Force dep-secrets/fflogs_debug.db source/FFLogsRankingDonwloader/resources/
      shell: pwsh

    - name: Configure NuGet Access
      run: |
        if ("${{ secrets.DISCORD_NET_PAT }}" -ne "") {
           nuget sources update -Name "discord-net-nightly" -UserName "${{ secrets.DISCORD_NET_USER }}" -Password "${{ secrets.DISCORD_NET_PAT }}" -ConfigFile source/NuGet.Config
        }
      shell: pwsh

    - name: Restore NuGet packages
      run: nuget restore ${{ env.Solution_Path }}

    - name: Restore Signing Key
      id: restore_key
      run: |
        if ("${{ secrets.HOJORING_SNK_BASE64 }}" -ne "") {
          $bytes = [Convert]::FromBase64String("${{ secrets.HOJORING_SNK_BASE64 }}")
          [IO.File]::WriteAllBytes("source/ACT.Hojoring.Common/Hojoring.snk", $bytes)
          [IO.File]::WriteAllBytes("source/ACT.Hojoring.Activator/Hojoring.snk", $bytes)
        } else {
          Write-Host "HOJORING_SNK_BASE64 is not set. Skipping signing key restoration."
        }
      shell: pwsh

    - name: Build Solution
      run: msbuild ${{ env.Solution_Path }} /p:Configuration=Release /p:Platform=x64

    # Uncomment if tests are available and runnable
    # - name: Run Tests
    #   run: dotnet test ${{ env.Test_Project_Path }} --no-build --verbosity normal
